# Dev folders.
build/
dist/
*.egg-info/

# I Think im going to want the scripts folder back in.
# scripts/

# these pycache folders are all over the place.
*/__pycache__/
*/*/__pycache__/

# vim temp buffers:
*.swp

junk/
